.box_for_login{
    padding-right: 30px;
    padding-top: 30px;
}

.card_size{
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width:400px;
}

.container-sign-up{
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top:30px;
}